<h1>{{ todo.todo_name }}</h1>
<h3>{{ todo.todo_description }}</h3>
<h6>Active: {{ todo.todo_open }}</h6>

<ul>
  {% for task in todo.task_set.all %} {% if task.task_complete %}
  <li>
    <h5 style="text-decoration: line-through">{{ task.task_description }}</h5>
  </li>
  {% else %}
  <li><h5>{{ task.task_description }}</h5></li>
  {% endif %} {% endfor %}
</ul>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'todos:complete' todo.id %}" method="post">
  {% csrf_token %} {% for task in todo.task_set.all %}
  <input
    type="radio"
    name="task"
    id="task{{ forloop.counter }}"
    value="{{ task.id }}"
  />
  <label for="task{{ forloop.counter }}">{{ task.task_description }}</label
  ><br />
  {% endfor %}
  <input type="submit" value="Toggle" />
</form>
